<section class="plans" id="planes">
  <div class="plans-container">
    <div class="section-header">
      <h2 class="plans-title">PLANES TIPSTER<span class="title-x">X</span></h2>
      <div class="plans-badge">
        <span>Acceso Free o Pro según el nivel de análisis que necesitas.</span>
      </div>
      <p class="plans-subtitle">ANÁLISIS DIARIO — REPORTES ESTRUCTURADOS — COBERTURA GLOBAL</p>
    </div>

    <div class="plans-grid">
      <!-- Plan FREE -->
      <div class="plan-card">
        <div class="plan-image-wrapper">
          <a href="https://t.me/tipsterxfree" target="_blank" class="btn-primary">
            <img src="/images/plans/plansFree.webp" alt="Plan Free" class="plan-image">
            <button class="plan-btn-overlay btn-free">
              <img src="/images/buttons/btnUnirmeAhora.svg" alt="Unirme Ahora">
            </button>
          </a>
        </div>
      </div>



      <!-- Plan PRO -->
      <div class="plan-card featured">
        <div class="plan-image-wrapper">
          <img src="/images/plans/plansPro.webp" alt="Plan Pro" class="plan-image">
          <button class="plan-btn-overlay btn-pro">
            <img src="/images/buttons/btnunirmeAhoraPro.svg" alt="Unirme Ahora Pro">
          </button>
        </div>
      </div>
    </div>

    <div class="partners-row">
      <div class="partners-logos"></div>
      <div class="x-logo-large">
        <img src="/images/icons/X.svg" alt="">
      </div>
    </div>
  </div>
</section>